.container.testimonials__container {
  width: 50%;
  padding-bottom: 2rem;
  border-bottom: none;
}

.testimonial {
  text-align: center;
  padding: 85px 50px 45px 70px;
  margin: 70px 15px 35px;
  background: #f9f9f9;
  box-shadow: 8px 4px 0 0 var(--color-primary);
  position: relative;
}
.testimonial .pic{
  width: 120px;
  height: 120px;
  border: 5px solid var(--color-primary);
  margin: 0 auto;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.testimonial .description{
  font-size: 15px;
  color: #757575;
  line-height: 27px;
  margin-bottom: 20px;
  position: relative;
  margin-right: 2rem;
}
.testimonial .description:before{
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 32px;
  color: var(--color-primary);
  position: absolute;
  top: -15px;
  left: -35px;
  display: none;
}
.testimonial .testimonial-profile{
  position: relative;
  margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
  content: "";
  width: 50px;
  height: 2px;
  background: #77a9dd;
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
.testimonial .title{
  display: inline-block;
  font-size: 18px;
  color: #4a5184;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.testimonial .post{
  display: inline-block;
  font-size: 15px;
  color: #757575;
  text-transform: capitalize;
}
.owl-theme .owl-controls{
  margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
  background: #5e5f5f;
  opacity: 1;
  transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #77a9dd;
}
.owl-theme .owl-controls .owl-page.active span{
  width: 22px;
  height: 12px;
}

hr {
  border: 1px solid var(--color-primary);
  width: 90%;
  margin-left: 5%;
  margin-top: 10vh;
}

@media screen and (max-width: 1024px) {
  .container.testimonials__container {
    width: 60%;
  }

  .testimonial {
    text-align: center;
    padding: 65px 30px 25px 50px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 var(--color-primary);
    position: relative;
    user-select: none;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }

  .testimonial {
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 var(--color-primary);
    position: relative;
  }
}
