.nav__container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--color-white);
  z-index: 999;
}

.logo__container > h1 {
  font-size: 1.8rem;
  padding-left: 3rem;
  color: var(--color-primary);
  font-weight: 500;
  margin-top: 0.8rem;
}

.links__list {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.links__list > a {
  color: var(--color-black);
}

.links__list > a.active {
  text-decoration: underline;
  color: var(--color-primary);
}
